.bar {
  background-color: black;
}

.bar .content {
  font-family: JetBrains Mono;
  background-color: $background;
  color: $foreground;
  margin-top: 3px;
  font-size: 24px;
}

.bar .app-bar {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.bar .app-bar .app-data {
  padding: 0;
  margin: 0;
}

.bar .app-bar .app-logo .icon {
  padding: 0 1rem;
}

.bar .app-bar .separator {
  opacity: 1;
  font-size: 28px;
  margin-bottom: -1px;
}

.bar .app-bar .app-logo {
  background-color: $background;
}

.bar .app-bar .app-logo .separator.end {
  background-color: $background;
}

.bar .app-bar .app-logo .icon {
  background-color: transparent;
  color: $background;
}

.bar .app-bar.none .app-logo .icon {
  background-color: $fg_inactive_tab;
}

.bar .app-bar.none .app-logo .separator.end {
  color: $fg_inactive_tab;
}

.bar .app-bar.terminal .app-logo .icon {
  background-color: #c0c81f;
}

.bar .app-bar.terminal .app-logo .separator.end {
  color: #c0c81f;
}

.bar .app-bar.terminal .app-data .tab .icon {
  padding-right: 1rem;
  color: #91a580;
}

.bar .app-bar.terminal .app-data .tab .icon.vim {
  margin-bottom: -4px;
}

.bar .app-bar.terminal .app-data .tab .icon.folder {
  margin-bottom: -3px;
}

.bar .app-bar.terminal .app-data .tab {
  background-color: $bg_inactive_tab;
  color: $fg_inactive_tab;
}

.bar .app-bar.terminal .app-data .tab .separator.start {
  color: $background;
  background-color: $bg_inactive_tab;
}

.bar .app-bar.terminal .app-data .tab .separator.end {
  background-color: $background;
  color: $bg_inactive_tab;
}

.bar .app-bar.terminal .app-data .tab.active {
  background-color: $bg_active_tab;
  color: $fg_active_tab;
}

.bar .app-bar.terminal .app-data .tab.active .separator.start {
  color: $background;
  background-color: $bg_active_tab;
}

.bar .app-bar.terminal .app-data .tab.active .separator.end {
  background-color: $background;
  color: $bg_active_tab;
}

.bar .app-bar.browser .app-logo {
  background-color: #1e89c6;
}

.bar .app-bar.browser .app-logo .separator.end {
  color: #1e89c6;
}

.bar .app-bar.browser .app-logo .icon {
  font-weight: normal;
  margin-left: -2px;
  margin-right: -3px;
  margin-top: -2px;
}

.bar .app-bar.browser .app-data .tab .separator.start {
  color: $background;
}

.bar .app-bar.browser .app-data .tab:not(.active) .separator.start {
  color: $background;
  background-color: $bg_inactive_tab;
}

.bar .app-bar.browser .app-data .tab .icon {
  font-weight: normal;
  padding-right: 1rem;
  background-color: $bg_inactive_tab;
  color: $fg_inactive_tab;
}

.bar .app-bar.browser .app-data .tab.active .icon {
  background-color: transparent;
  color: $fg_active_tab;
}

.bar .app-bar.browser .app-data {
  background-color: $bg_active_tab;
  color: $fg_active_tab;
}

.bar .app-bar.browser .app-data .tab:not(.active) {
  background-color: $bg_inactive_tab;
  color: $fg_inactive_tab;
}

.bar .app-bar.browser .app-data .tab .separator.end {
  color: $bg_inactive_tab;
  background-color: $background;
}

.bar .app-bar.browser .app-data .tab.active .separator.end {
  color: $bg_active_tab;
}

.bar .app-bar.browser .app-data .tab.duckduckgo .icon {
  color: $orange;
}

.bar .app-bar.browser .app-data .tab.bol .icon {
  font-size: 20px;
}

.bar .app-bar.browser .app-data .tab.active.bol {
  background-color: #0000a4;
}

.bar .app-bar.browser .app-data .tab.active.bol .separator.end {
  color: #0000a4;
}

.bar .app-bar.browser .app-data .tab.active.bol .icon {
  color: white;
}

.bar .app-bar.browser .app-data .tab.active.google-drive {
  background-color: #f7f9fc;
  color: #444746;
}

.bar .app-bar.browser .app-data .tab.active.google-drive .separator.end {
  color: #f7f9fc;
}

.bar .app-bar.browser .app-data .tab.active.google-drive .icon {
  color: #1967d2;
}

.bar .app-bar.browser .app-data .tab.active.boardgamegeek {
  background-color: #3f3a60;
}

.bar .app-bar.browser .app-data .tab.active.boardgamegeek .separator.end {
  color: #3f3a60;
}

.bar .app-bar.browser .app-data .tab.active.boardgamegeek .icon {
  color: #ff5100;
}

.bar .app-bar.browser .app-data .tab.active.libgenesis {
  background-color: #bbbbbb;
  color: #000000
}

.bar .app-bar.browser .app-data .tab.active.libgenesis .separator.end {
  color: #bbbbbb;
}

.bar .app-bar.browser .app-data .tab.active.libgenesis .icon {
  color: #a00000;
}

.bar .app-bar.browser .app-data .tab.reddit .icon {
  color: #ff4500;
  font-size: 30px;
  padding-top: 4px;
  margin-top: -8px;
  margin-bottom: -5px;
  background-color: transparent;
}

.bar .app-bar.browser .app-data .tab.gmail .icon {
  color: #ad1f1d;
}

.bar .app-bar.browser .app-data .tab.youtube .icon {
  color: #ff0000;
}

.bar .app-bar.browser .app-data .tab.github .icon {
  color: $military;
}

.bar .app-bar.firefox .app-logo {
  background-color: #E66000;
}

.bar .app-bar.firefox .app-logo .separator.end {
  color: #E66000;
}

.bar .app-bar.firefox .app-logo .icon {
  font-size: 28px;
  margin-left: 1px;
  margin-bottom: -3px;
  margin-top: -3px;
}

.bar .app-bar.calibre .app-logo {
  background-color: $green;
}

.bar .app-bar.calibre .app-logo .separator.end {
  color: $green;
}

.bar .app-bar.calibre .app-logo .icon {
  margin-left: -1px;
  margin-right: -2px;
}

.bar .app-bar.privefox .app-logo {
  background-color: #8000d7;
}

.bar .app-bar.privefox .app-logo .separator.end {
  color: #8000d7;
}

.bar .app-bar.privefox .app-logo .icon {
  font-size: 28px;
  margin-left: 1px;
  margin-bottom: -3px;
  margin-top: -3px;
}

.bar .app-bar.obsidian .app-logo {
  background-color: #7d5bed;
}

.bar .app-bar.obsidian .app-logo .separator.end {
  color: #7d5bed;
}


.bar .app-bar.volume-control .app-logo {
  background-color: #729fcf;
}

.bar .app-bar.volume-control .app-logo .separator.end {
  color: #729fcf;
}

.bar .app-bar.volume-control .app-logo .icon {
  font-size: 20px;
}


.bar .app-bar.gimp .app-logo {
  background-color: #e2a464;
}

.bar .app-bar.gimp .app-logo .separator.end {
  color: #e2a464;
}

.bar .app-bar.gimp .app-logo .icon {
  font-size: 20px;
  margin-right: -2px;
}


.bar .app-bar .app-data .separator.start {
  padding-right: 1rem;
  color: $background;
}

.bar .app-bar .app-data .title {
  padding-right: 1rem;
}


.bar .app-bar .app-data {
  background-color: $bg_active_tab;
  color: $fg_active_tab;
}


.bar .app-bar .app-data .separator.end {
  color: $bg_active_tab;
  background-color: $background;
}

.bar .content .notification-bar {
  padding: 0 1rem 0 0;
}

// Bluetooth rules
.notification-bar .bluetooth {
  color: $foreground;
  font-size: 24px;
  font-weight: normal;
  margin-top: 6px;
  opacity: 0.5;
}

.notification-bar .bluetooth.on {
  color: $cyan;
}

.notification-bar .bluetooth.on.connected {
  margin-top: 7px;
  opacity: 1;
}

.notification-bar .wifi {
  color: $blue;
  font-size: 25px;
  margin-top: 4px;
  font-weight: normal;
}

// Volume rules
.notification-bar .volume {
  font-size: 25px;
  margin-top: 6px;
  color: $green;
  font-weight: normal;
}

.notification-bar .volume.mute {
  color: $foreground;
}

.notification-bar .volume.low {
  opacity: 0.75;
}

.notification-bar .volume.medium {
  opacity: 0.875;
}

.notification-bar .volume.high {
  opacity: 1;
}

.notification-bar .brightness {
  color: $yellow;
  font-size: 22px;
  margin-top: 4px;
}

.notification-bar .battery {
  color: $orange;
  font-size: 20px;
  margin-top: 3px;
}

.notification-bar .power {
  color: $red;
  font-weight: bolder;
  margin-top: 2px;
}

