
$white: #FFFFFF;
$gray: #1E202E;
$dark-gray: #1E202E;
$red: #FFAFAF;
$yellow: #ffff5f;
$orange: #FF9E64;
$green: #5fff5f;
$blue: #87AFFF;
$magenta: #BB9AF7;
$cyan: #5FFFFF;
$military: #A0AA87;
$military-green: #91a580;

$background: #262626;
$background-alt: $dark-gray;
$background-alt2: $gray;
$foreground: #767676;
$bg_inactive_tab: #303030;
$fg_inactive_tab: $foreground;
$bg_active_tab: $foreground;
$fg_active_tab: $white;
